*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100px;
}

.first-section{
    text-align: center;
    text-transform:capitalize;
}

.one{
    background-color: black;
    color: white;
    border: 10px solid transparent;
    border-radius: 35px;
    margin-top: 5px;
}

